<footer>
    <section class="site-footer">
        <div class="mb-3">
            <a href="/" class="d-blk mb-1h tx-l">
                <svg width="92" height="44">
                    <use href="/uploads/icon-sprite.svg#logo-white"></use>
                </svg>
            </a>
            <p class="max-240 picotext co-offwhite mb-3">
                Find USSD codes, their appropriate descriptions and tips.
            </p>
        </div>
        <div class="foot-grid">
            {%- for item in site.data.nav.foot-nav -%}
            <ul class="footer-list mb-3">
                <li class="ff-bold{% if item.heading == "Connect with us" %} mediumtext no-wrap {% endif %}">
                    {{ item.heading }}
                </li>
                {%- for names in item.pages -%}
                {% if names.name %}
                    <li class="">
                        <a href="{{ names.link }}" class="">
                            {{ names.name }}
                        </a>
                    </li>
                {% endif %}
               
                {% include components/social-media-links.html %}
               
                {%- endfor -%}
            </ul>
            {%- endfor -%}
        </div>
    </section>
    <section class="site-footer bottom mt-1">
        <p class="picotext mb-2 tx-c">© 2022, Hover Developer Services, Inc. | All Rights Reserved</p>
    </section>
</footer>
