// // Cards

.card
    background-color: $white
    padding: 2.5rem
    border-radius: 24px
    border: $borderline

    @media #{$mediumup}
        padding: 4.68rem

.blog-card
    width: 100%
    max-width: 387px

    a
        &:active, &:focus, &:hover
            box-shadow: 4px 10px 20px rgba(0, 50, 79, 0.08)

    p
        font-size: $smallfont
        line-height: $lh-32
        color: $darkblue

.google-play
    height: 39px
    width: 110px

    @media #{$mediumup}
        height: 56px
        width: 175px

.country
    font-size: 32px
    margin-right: 1rem
    line-height: 24px