<section class="prefooter">
  <div class="bg-lightgreen wrapper will-grow space-between-groups center">
    <div class="my-3">
      <h3>
        Do you want your USSD to be listed?
      </h3>
      <p class="ff-regular">
        Send us your USSD for your services
      </p>
      <a class="h2 text-underline co-darkblue mt-1h"
        href="&#109;&#097;&#105;&#108;&#116;&#111;:&#117;&#115;&#115;&#100;&#064;&#115;&#116;&#097;&#120;&#046;&#109;&#101;">ussd@stax.me</a>
    </div>
  </div>
  <div class="bg-lightblue wrapper will grow space-between-groups center">
    <div class="my-3">
      <h3>
        Move money without stress.
      </h3>
      <p class="max-365 mx-auto lh-24 mb-3 ff-regular">
        Transfer funds between your accounts, buy airtime and send and request money. Data not required.
      </p>
      <a class="btn fit-content mx-auto mh-56 px-5h" target="_blank" href="https://stax.onelink.me/nR0j/ussddirectory">Get Stax</a>
    </div>
  </div>
</section>
