<section class="prefooter">
  <div class="bg-lightgreen wrapper will-grow space-between-groups center">
    <div class="my-3">
      <h3>
        Do you want your USSD to be listed?
      </h3>
      <p class="ff-regular">
        Send us your USSD for your services
      </p>
      <a class="h2 text-underline co-darkblue mt-1h" href="mailto:ussd@stax.me">ussd@stax.me</a>
    </div>
  </div>
  <div class="bg-lightblue wrapper will grow space-between-groups center">
    <div class="my-3">
      <h3>
        Move money without stress.
      </h3>
      <p class="max-365 mx-auto lh-24 mb-3 ff-regular">
        Transfer funds between your accounts, buy airtime and send and request money. Data not required.
      </p>
      <a class="btn fit-content mx-auto mh-56 px-5h" href="">Get Stax</a>
    </div>
  </div>
</section>