// // Global Footer
//
// // @package sfc

footer
    padding: 6rem 2rem
    background-color: $darkblue
    color: $white

    @media #{$xlargeup}
        padding: 5rem 6rem 4rem 6rem

.site-footer
    width: 100%
    display: flex
    justify-content: space-between
    flex-direction: column
    max-width: 1200px
    margin: auto

    @media #{$xlargeup}
        flex-direction: row
        text-align: left

    &.bottom
        flex-direction: column-reverse

        @media #{$mediumup}
            flex-direction: row

            p
                margin-bottom: -2rem

.footer-list
    display: flex
    flex-direction: column

    li
        margin-bottom: 1.5rem

.foot-grid
    width: 100%
    max-width: 794px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
    margin: auto

    @media #{$largeup}
        flex-direction: row

    @media #{$xlargeup}
        margin: 0
        margin-bottom: 10rem
        grid-template-columns: auto auto 285px

.play-icon
    margin: auto

    @media #{$xlargeup}
        margin: 0
