---
layout: default
---

<section id="article" class="wrapper will-grow">
  <h1 class="tx-c mx-auto max-700 largetext">{{ page.title }}</h1>
  <article class="max-895 border-bottom2">
    <div class="space-between-groups wrapper-y will-grow negate-bottom d-col-row">
      <div class="max-330 space-between-groups ff-semibold mt-1">
        <p class="no-wrap"><span id="time"></span> minute read</p>
        <span class="dot">
        </span>
        <p>
          {{ page.date | date: "%d/%m/%Y" }}
        </p>

        <span class="tag ml-3">
          {{ page.tag }}
        </span>
      </div>

    </div>
    <section class="d-col-row-l j-c-sb">
      <div class="content">
        {{ content }}
        <p class="uppercase d-flx al-i-c ff-medium">
          <span class="sm-icon initials mr-1">
            {{ page.author-initials }}
          </span>
          {{ page.author-name }}
        </p>
      </div>
      <section class="width-100-pc max-286">
        <div class="content-card mt-3">
          <p class="co-black mb-3 ff-semibold">
            Please share this article
          </p>
          <div class="d-flx al-i-c mb-3">
            <a class="sm-icon"
              href="https://www.linkedin.com/shareArticle?mini=true&url=http://stax.surge.sh{{ page.url }}&t={{page.title}}"
              onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
              target="_blank" title="Share on Linkedin">
              <svg width="13" height="13">
                <use href="/uploads/icon-sprite.svg#linkedin"></use>
              </svg>
            </a>
            <a class="sm-icon" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{page.title}}"
              onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
              target="_blank" title="Share on Twitter"><svg width="15" height="11">
                <use href="/uploads/icon-sprite.svg#tweeter"></use>
              </svg></a>
            <a class="sm-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{page.title}}"
              onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
              target="_blank" title="Share on Facebook">
              <svg width="7" height="12">
                <use href="/uploads/icon-sprite.svg#fb"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="content-card mt-2h">
          <p class="co-black mb-1h ff-regular">
            Subscribe to our newsletter
          </p>
          <input class="pl-0 norm width-100-pc" type="email" name="" id="" placeholder="eg. kingsley@gmail.com">
          <a class="btn plain width-100-pc mt-1h h-60">
            Subscribe
          </a>
        </div>
        <div class="content-card mt-2h">
          <p class="co-black mb-1h ff-regular">
            Subscribe to our newsletter
          </p>
          <input class="pl-0 norm width-100-pc" type="email" name="" id="" placeholder="eg. kingsley@gmail.com">
          <a class="btn plain width-100-pc mt-1h h-60">
            Subscribe
          </a>
        </div>
      </section>
    </section>
  </article>
  <section class="pt-5">
    <h4 class="co-deepblack mb-5">
      Read More
    </h4>
    <ul class="grid mostly-3">
      {% for post in site.blog limit: 3 %}
      <li class="blog-card mx-auto">
        <a href={{ site.url }}/blog/{{ post.name }}>
          <img class="mb-3" src="{{ site.url }}{{ post.img }}" alt="ussd growth illustration">
          <p class="ff-bold mb-2">
            {{ post.title }}
          </p>
          <sub class="co-blue nanotext ff-semibold">
            Read article
          </sub>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

</section>
{% include components/subscription.html %}

<script>
  function readingTime() {
    const text = document.getElementById("article").innerText;
    const wpm = 225;
    const words = text.trim().split(/\s+/).length;
    const time = Math.ceil(words / wpm);
    document.getElementById("time").innerText = time;
  }
  readingTime();
</script>

