---
layout: default1
---
<section class="home-banner">
    {% include shell/header.html %}
    <article class="tx-c wrapper will-grow co-white">
        <h1 class="co-white mb-2">
            {{ page.title }}
        </h1>
        <p class="max-527 mx-auto lh-31">
            {{ page.excerpt }}
        </p>
        <div class="mt-5">
            <form class="uk-search uk-search-default">
                <a href="" uk-search-icon></a>
                <input class="uk-search-input" type="search" placeholder="Search">
            </form>
            <button class="ml-1 btn plain" type="submit">Go</button>
        </div>
    </article>
</section>
<section class="wrapper">
    <div class="mb-2">
        <h1 class="mb-3">
            Move money <br class="show-largeup"> without
            <span class="decorated">
                <span class="flip co-orange">
                    <span class="mt-1">stress.</span>
                    <span class="mt-1">internet.</span>
                    <span class="mt-1">limits.</span>
                </span>
            </span>
        </h1>
        <p class="microtext lh-31 mb-3">
            Stax is a simple way to send money, buy airtime, and receive money across Africa. No extra charges. No
            internet required.
        </p>
        <div class="d-flx al-i-c mt-5">
            <a href="https://stax.onelink.me/nR0j/bae63c64" target="_blank"><img class="google-play mr-2 mb-2"
                    src="{{site.url}}/uploads/play.png" alt="Google-play"></a>


            <a href="https://youtu.be/_oilc1_6SHo" class="co-blue d-flx mb-2 no-wrap" target="_blank">
                <svg class="mr-1" width="24" height="24">
                    <use href="/uploads/icon-sprite.svg#play"></use>
                </svg>
                <p class="ff-medium mr-1 no-wrap">
                    How it works
                </p>
            </a>
        </div>
    </div>
    <div class="mb-2 pos-r mt-3 show-largeup">
        <img class="gsm pos-r" src="/uploads/gsm.png" alt="mobile app view">
    </div>
</section>

{% include components/subscription.html %}
{% include components/popup.html %}
<section class="wrapper will-grow negate-bottom">
    <h4 class="co-deepblack mb-5">
        Stax blog
    </h4>
    <ul class="grid mostly-3">
        {% for post in site.blog limit: 3 %}
        <li class="blog-card">
            <a href={{ site.url }}/blog/{{ post.name }}>
                <img class="mb-3" src="{{ site.url }}{{ post.img }}" alt="ussd growth illustration">
                <p class="ff-bold mb-2">
                    {{ post.title }}
                </p>
                <sub class="co-blue nanotext ff-semibold">
                    Read article
                </sub>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="ff-semibold microtext co-blue mt-5 d-blk tx-r" href="{{site.url}}/blog">View all</a>
</section>
<section class="wrapper will-grow">
    <h1 class="tx-c h3 mb-4">
        Frequently asked questions
    </h1>
    <ul class="mx-auto max-672 mt-4" uk-accordion>
        {% for item in page.faqs limit: 6 %}
        <li class="">
            <a class="uk-accordion-title ff-bold" href="#">
                {{ item.name }}
            </a>
            <div class="uk-accordion-content">
                <p class="mt-1h max-633">
                    {{ item.summary }}
                </p>
            </div>
        </li>
        {% endfor %}
        <li class="tx-c">
            <a class="ff-semibold microtext co-blue mt-3 d-blk" href="{{site.url}}/faqs">View all</a>
        </li>
    </ul>
</section>
