---
layout: default
---

{% include components/prefooter.html %}
{% include shell/footer.html %}
<script type="text/javascript" src="{{site.url}}/js/bundle.js" charset="utf-8" />
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const id = localStorage.getItem("id");
    const root_url = `https://stage.usehover.com/api/channel_actions?channel_id=${id}`;
    const div = document.getElementById("card-details");
    const header = document.getElementById("header");

    fetch(root_url)
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.data.length > 0)
            {
                header.innerHTML = `${data.data[0].attributes.from_institution_name}`;
                data.data.forEach((item) => {
                    const list = document.createElement("div");
                    const path = item.attributes.path;
                    list.className = "mb-5";
                    list.innerHTML = `
                <p class="mb-2-3">
                    ${item.attributes.name}
                </p>
                    <div class="d-flx al-i-c">
                        <a href="tel:" id="myInput" value class="smalltext ff-bold m-0 mr-2-3">
                           ${item.attributes.path}
                        </a>
                    </div>
                `;
                    div.append(list)
                });
            }
        }).then(() => {
            // console.log("here")
            document.getElementById("loader").remove();
        })
</script>
