---
layout: default1
---

{% include components/react-app-tag.html %}

<section class="wrapper will-grow wrapper-y">
    <h3 class="tx-c h1 mb-4 mt-0">
        Frequently asked questions
    </h3>
    <ul class="mx-auto max-672 mt-4 uk-accordion">
        {% for item in site.faqs limit: 5 %}
        <li class="">
            <button class="accordion ff-bold">
                {{ item.name }}
            </button>
            <div class="panel d-none">
                <p class="mt-1h max-633">
                    {{ item.summary }}
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="ff-semibold microtext co-blue mt-4 d-blk tx-c" href="{{site.url}}/faqs">See all FAQs</a>
</section>
{% include components/prefooter.html %}
<script type="text/javascript" src="{{site.url}}/js/bundle.js" charset="utf-8" />

