---
layout: default1
---
<section class="home-banner">
    {% include shell/header.html %}
    <article class="tx-c co-white">
        <div class="wrapper will-grow">
            <h1 class="co-white mb-1h">
                {{ page.title }}
            </h1>
            <p class="max-527 mx-auto lh-31">
                {{ page.excerpt }}
            </p>
            <section class="max-667 mx-auto pos-r">
                <div class="mt-5 d-flx">
                    <form class="uk-search uk-search-default" type="button">
                        <a href="" class="uk-search-icon">
                            <svg width="24" height="24">
                                <use href="/uploads/icon-sprite.svg#search"></use>
                            </svg>
                        </a>
                        <input id="searchInput" class="uk-search-input dropbtn bg-white" placeholder="Search country"
                            onkeyup="searchCountry()" autocomplete="off">
                    </form>
                    <button class="ml-1 btn plain" type="submit">Go</button>
                </div>
                <ul class="bg-white search-drop dropdown-content" id="countrySearch" uk-drop="mode: click">
                    <li class="d-flx co-black border-bottom p-2 pt-3">
                        <svg class="mr-1" width="25" height="24">
                            <use href="/uploads/icon-sprite.svg#globe"></use>
                        </svg>
                        <p class="co-black">
                            Every country
                        </p>
                    </li>
                </ul>
            </section>
        </div>
    </article>
</section>

<section class="" uk-filter="target: .js-filter">
    <ul class="uk-subnav filter">
        <li onclick="filterCountries(`all`)">
            <p>All</p>
        </li>
        <li onclick="filterCountries(`bank`)">
            <p>Banking</p>
        </li>
        <li onclick="filterCountries(`telecom`)">
            <p>Telco</p>
        </li>
        <li onclick="filterCountries(`mmo`)">
            <p>Mobile Money</p>
        </li>
    </ul>
    <div class="wrapper will-grow">
        <form class="uk-search uk-search-default max-365">
            <a href="" class="uk-search-icon">
                <svg width="24" height="24">
                    <use href="/uploads/icon-sprite.svg#search"></use>
                </svg>
            </a>
            <input class="uk-search-input bg-white picotext h-48" type="search"
                placeholder="Search bank, service, mobile money, etc">
        </form>
        <section class="code-head">
            <div class="space-between-groups flex-wrap">
                <p class="ff-bold smalltext no-wrap mb-1 mx-auto ml-0">
                    All Countries
                </p>
                <div class="switcher d-flx flt-r show-mediumup">
                    <button id="btn1" class="mr-1 active" onclick="gridDisplay()">
                        <p class="mr-1h">Grid view</p>
                        <svg width="25" height="24">
                            <use href="/uploads/icon-sprite.svg#grid-box"></use>
                        </svg>
                    </button>
                    <button id="btn2" class="" onclick="listDisplay()">
                        <p class="mr-1h">
                            List view
                        </p>
                        <svg width="26" height="24">
                            <use href="/uploads/icon-sprite.svg#list-box"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="ussdList">
            </div>
            <a href="{{site.url}}/directory" class="ff-medium co-blue mt-3 microtext d-blk fit-content mx-auto">View
                more</a>
        </section>

    </div>
</section>
<section class="wrapper will-grow d-flx gsm-section bg-lightblue">
    <div class="mb-2 width-100-pc max-474">
        <h2 class="mb-1h mt-1">
            Get Stax
        </h2>
        <p class="lh-31 mb-2h">
            Never dial a USSD Code Again. Let Stax do it for you. Stax makes it simpler and easier for you to send
            money, buy
            airtime, request money, check your account balance, and do more with your bank and mobile money accounts. It
            leverages
            USSD automation technology to give you more control of your money. No need to remember different USSD codes,
            switch from
            bank app to fintech app or biller to biller ever again. Best part is - it works offline.
        </p>
        <a href="https://stax.onelink.me/nR0j/bae63c64" target="_blank"><img class="google-play mr-2 mb-2"
                src="{{site.url}}/uploads/play.png" alt="Google-play"></a>
    </div>
    <img class="gsm" src="/uploads/gsm.png" alt="mobile app view">
</section>
<section class="wrapper will-grow negate-bottom">
    <h4 class="co-deepblack mb-5 h2 mt-5h">
        USSD blog
    </h4>
    <ul class="grid mostly-3">
        {% for post in site.blog limit: 3 %}
        <li class="blog-card mx-auto">
            <a href={{ site.url }}/blog/{{ post.name }}>
                <img class="mb-3" src="{{ site.url }}{{ post.img }}" alt="ussd growth illustration">
                <p class="ff-bold mb-2">
                    {{ post.title }}
                </p>
                <sub class="co-blue nanotext ff-semibold">
                    Read article
                </sub>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="ff-semibold microtext co-blue mt-5 d-blk tx-r" href="{{site.url}}/blog">View all</a>
</section>
<section class="wrapper will-grow wrapper-y">
    <h3 class="tx-c h1 mb-4 mt-0">
        Frequently asked questions
    </h3>
    <ul class="mx-auto max-672 mt-4" uk-accordion>
        {% for item in site.faqs limit: 6 %}
        <li class="">
            <a class="uk-accordion-title ff-bold" href="">
                {{ item.name }}
            </a>
            <div class="uk-accordion-content">
                <p class="mt-1h max-633">
                    {{ item.summary }}
                </p>
            </div>
        </li>
        {% endfor %}
        <li class="tx-c">
            <a class="ff-semibold microtext co-blue mt-4 d-blk" href="{{site.url}}/faqs">See all FAQs</a>
        </li>
    </ul>
</section>
<!-- {% include components/popup.html %} -->
{% include components/prefooter.html %}



